.dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
}

.dashboard > span {
  display: flex;
  padding: 16px;
  max-height: 100vh;
  overflow: auto;
}

.dashboard > span:not(:last-child) {
  border-right: solid 1px white;
}
